<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdpc.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.MApplication"
        android:allowBackup="true"
        android:banner="@drawable/ic_shopping_popup_notr"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.Mainactivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <service
            android:name="com.stv.launcher.dev.leakcanary.internal.HeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary" />
        <service
            android:name="com.stv.launcher.dev.leakcanary.DisplayLeakService"
            android:enabled="false" />

        <activity android:name="com.stv.launcher.dev.leakcanary.internal.RequestStoragePermissionActivity" />
        <activity android:name="com.stv.launcher.dev.leakcanary.internal.DisplayLeakActivity" />
        <activity
            android:name=".NextDeskTop"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".TabPageActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>